<h1><%= @house['name']%> Details</h1>
<a href="/houses/<%= @house['id']%>/edit">Edit</a>
<form action="/houses/<%= @house['id'] %>" method="post">
<input type="hidden" name="_method" value="delete">
<button>Sold</button>
</form>
<div class="house">
<P>Location: <%= @house['name'] %></P>
<P>Address: <%= @house['address'] %></P>
<P>Estimated Price: $<%= @house['price'] %></P>
<P>Image Link: <%= @house['image_url'] %></P>
</div>

